@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*colors*/

/*
60% of #000000 - primary
30% of #631782 - secondary
10% of #a83bc4 - accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #000000
/* var(--secondaryColor) !important; */
--secondaryColor: #631782
/* var(--accentColor) !important; */
--accentColor: #000000
/* var(--fontFamily) !important; */
--fontFamily: "Montserrat", serif;
}