h1, h2 {
    color: bvar(--primaryColor) !important;
}

.navbar {
    background-color: #ffff !important;
}

.blinn-footer-container {
    background-color: var(--primaryColor) !important;
    padding: 40px;
    color: #ffffff;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    margin: 0.25em  0px;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #a83bc4;
}
blockquote::before {
    display:block;
    padding-left:10px;
    font-size:80px;
    position: absolute;
    left: -20px; 
    top: -20px;
    color: #a83bc4;
    content:"\201c";
}

blockquote cite {
    color:#a83bc4;
    font-size: 14px;
    display: block;
    margin-top: 5px;

}

blockquote cite::before {
    content:"\2014 \2009";
}

